html {
    font-family: "Quicksand", sans-serif; 
    font-size: 16px; 
    color: black; 
}

body {
    padding-top: 100px;
    width: 100%;
    margin-left: 0px; 
} 

.logo {
    width: 250px;   
}

h2 {
    font-size: 2.5rem; 
    letter-spacing: -1.5px;
    text-align: center;
    font-family: "League Spartan", sans-serif;
}

p {
    font-size: 1.125rem; 
    font-weight: 500;
    line-height: 0.75;
    letter-spacing: 1.5px;  
}

span {
    font-size: 1.125rem; 
    font-weight: 500;
    padding-top: 15px; 
    line-height: 1.75;
    letter-spacing: 1.5px; 
}

img {
    border-radius: 3%;  
}

.content {
    width: 100%;  
    background-color: white;
    border-bottom: solid 13px black;
}

/* Header */ 

header {
    position: fixed;
    top: 0; 
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    /*padding: 4px;*/ 
}

header nav ul {
    display: flex;
}

header .navbar-a {
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: space-between;
    /*background-color: red;*/
    padding-top: 10px; 
}

header img {
    width: 250px; 
}
    
nav li {
    padding-left: 3.5rem;
    margin-right: 0px;
    list-style-type: none;
    /*background-color: aqua;*/ 
}

nav a {
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    padding-right: 20px;
    text-decoration: none;
    /*background-color: blue; */
}

a:hover {
    color: lightsteelblue;
} 

.navbar-b {
    display: none; 
}

@media only screen and (max-width: 832px) {

    header nav ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
}

@media only screen and (max-width: 523px) {
    
    header {
        display: flex; 
    }

    header nav ul {
        text-align: center;
        justify-content: center;
        width: 100%; 
        padding: 0; 
    }

    img {
        display: block; 
        width: 100px; 
        margin: 0 auto; 
        padding-top: 10px; 
    }

    header .navbar-a {
        display: none;
    }

    .navbar-b {
        display: inline-block;
        margin-right: 0px; 
        justify-content: space-between;
    }

    .buttons {
        width: 100%; 
        text-align: center;
    }

    .button {
        background-color: white;        
        margin: 3px; 
        padding: 5px; 
    }

    button:hover {
        cursor: pointer;
        background-color: black;
    }

    button:active {
        margin-top: 5px; 
        background-color: black;
        color: white; 
    }

    nav li {
        padding-left: 0px; 
    }

} 

/*Mission Statement*/ 

#mission-statement {
    width: 100%; 
}

#mission-statement h2 {
    padding-top: 15px;
}

#mission-statement p {
    font-size: 1rem; 
    text-align: center;
    line-height: 1.75; 
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#mission-statement h2, p {
    color: black;
}


@media only screen and (max-width: 832px) {

    #mission-statement {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 523px) {

    #mission-statement {
        padding-top: 175px;
    }

    #mission-statement h2 {
        padding-top: 10px; 
        padding-bottom: 0px; 
    }

    #mission-statement p {
        padding-top: 0px; 
        padding-left: 20px; 
        padding-right: 20px; 
        padding-bottom: 20px;
    }
}

/*Services*/

.services {
    text-align: center;
    padding-top: 10px; 
}

.services .dreams {
    display: flex;
    margin-top: 15px; 
    padding-bottom: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services .dreams .dream-type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    margin: 5px; 
}

.services a {
    text-decoration: none;
    color: black; 
}

.services a:hover {
    background-color: black;
    color: white;
}

.services a:active {
    background-color: black;
    color: white;
    margin: 2px;
}

.services .dreams img {
    width: 200px; 
}

#dots {
    letter-spacing: 3px;  
    padding-left: 0.2%; 
}

.spacing {
    letter-spacing: 3px;
}

#replace {
    display: none;
}

#break {
    display: none;
}

@media only screen and (max-width: 523px) {

    #promo span {
        font-size: 1rem; 
        padding-left: 20px; 
        padding-right: 20px;
    } 

    #dots {
        display: none;
        padding-right: 0px; 
    }

    #remove {
        display: none;
    }

    #dots {
        display: none;
    }

    #replace {
        display: inline;
    }

    #break {
        display: inline;
    }
}

/* Dream Team */ 

#dream-container {
    padding-top: 10px;
    text-align: center;
}

#dream-container .dream-team {
    display: flex;
    padding: 10px;
    margin: 5px; 
    justify-content: space-around;
    flex-wrap: wrap;
}

#dream-container .dream-team .employee {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 10px;
}

#dream-container img {
    width: 200px; 
    border-radius: 50%; 
}

#dream-container h3 {
    text-transform: capitalize; 
}

#dream-container p {
    margin-top: 0; 
    letter-spacing: 2px;  
    padding-bottom: 15px; 
}

@media only screen and (max-width: 523px) {

}